p
  label(for='role_name') Name:
p
  input(type='text', id='role_name', name='role[name]', value=role.name)
p
  label(for='role_description') Description:
p
  input(type='text', id='role_description', name='role[description]', value=role.description)
p
  label(for='role_owner') Owner:
p
  input(type='text', id='role_owner', name='role[owner]', value=role.owner)
p
  input(type='submit')
